body {
  background-color: #061621;
  color: white;
  padding: 10px;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 200;
  font-size: 1rem;
  text-align: center;
}

#filter {
  border: 2px solid green;
  max-width: 100%;

  max-height: 900px;
  height: 750px;
  overflow: scroll;
  margin-left: 20px;
  margin-top: 40px;
}
